version: "3.1"

services:
  daemon:
    image: arefaslani/docker-telegram-notifier
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TELEGRAM_NOTIFIER_BOT_TOKEN=...
      - TELEGRAM_NOTIFIER_CHAT_ID=...
